# Part-1: Lists and List Slicing

#### 1

In [4]:
alist = [x for x in range(1,20,2)]
print(alist[:5])
print(alist[-3:])
print(alist[3:8])

[1, 3, 5, 7, 9]
[15, 17, 19]
[7, 9, 11, 13, 15]

#### 2

In [5]:
fruits = ['apple','banana','orange','pinapple','krez']

fruits.append('watermelon')
fruits.append('mango')
last_fruit = fruits.pop()

print(fruits)

['apple', 'banana', 'orange', 'pinapple', 'krez', 'watermelon']

# Part-2: Tuples and Dictionaries

#### 3

In [6]:
atuple = ('cairo','giza','alexandira','aswan','suez')

print(atuple[1])
atuple[2] = 'alex'

giza

TypeError: 'tuple' object does not support item assignment

#### 4

In [7]:
dictionary = {'name' : 'John', 'age' : 30, 'city' : 'New York'}
print(dictionary['age'])  # Output: 30
dictionary['job'] = 'Engineer'
del dictionary['city']

print(dictionary)

30
{'name': 'John', 'age': 30, 'job': 'Engineer'}

#### 5

In [8]:
person1 = {'name' : 'Hamza', 'age' : 17}
person2 = {'name' : 'Ramiz', 'age' : 23}
person3 = {'name' : 'fawzy', 'age' : 26}

lists = [person1, person2, person3]

for i in range(3):
    print(f'name: {lists[i]['name']}, age : {lists[i]['age']}')

name: Hamza, age : 17
name: Ramiz, age : 23
name: fawzy, age : 26

# Part-3: Conditional Statements

#### 6

In [9]:
age = int(input('Enter your age: '))

if age >= 18:
    print('Adult')
else:
    print('Minor')

Adult

#### 7

In [10]:
num = int(input('Enter a number: '))

if num % 2 == 0:
    print(num, 'is even')
else:
    print(num, 'is not even')

4 is even

#### 8

In [11]:
grade = int(input('Enter the grade: '))

if grade >= 90:
    print('A')
elif grade >= 70:
    print('B')
elif grade >= 50:
    print('C')
else:
    print('F')

C

# Part-4: Loops

#### 9

In [2]:
for i in range(0,20, 2):
    print(i)

0
2
4
6
8
10
12
14
16
18

#### 10

In [4]:
countdown = 10

while countdown >= 1:
    print(countdown)
    countdown -= 1

10
9
8
7
6
5
4
3
2
1

#### 11

In [5]:
num = int(input('Enter a number: '))

total = 0
for i in range(num):
    total += i

print(f"the sum of all numbers from 1 to {num} inclusivly is : {total}")

the sum of all numbers from 1 to 5 inclusivly is : 10

# Part-5: Input Function and User Interaction

#### 12

In [6]:
name = input('Enter your name please: ')
age = int(input('Enter your age please: '))

print(f"Hello, {name}! you are {age} years old.")

Hello, Noor! you are 21 years old.

#### 13

In [8]:
favColor = input('Enter your favorite color please: ')

if favColor.lower() == 'blue':
    print('You have a great taste!')
else:
    print('That\'s a nice color too!')

That's a nice color too!

# Bonus

In [16]:
nums = []

min_num = 1e10
max_num = -1e10

total = 0
for i in range(5):
    num = float(input('Enter a number: '))
    if min_num > num:
        min_num = num
    if max_num < num:
        max_num = num
    total+=num
    nums.append(num)

print(total/len(nums))
print(f"min number: {min_num}, max_number: {max_num}")

3.0
min number: 1.0, max_number: 5.0